{% extends 'base.html' %} {% block content %}
<h1>Dashboard ({{ user.username }})</h1>
<p style='max-width: 400px'>Create events or view event details.</p>

<form action="{% url 'logout' %}" method='POST' id='logout'>
    {% csrf_token %}
    <button type='submit'>logout</button>
</form>

<h2>Events</h2>
{% if events %}
<ul>
    {% for event in events %}
    <li>
        <a href="{% url 'event' event.id %}">{{ event.title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>you have no events</p>
{% endif %}


<h2>Create Event</h2>
<form action="{% url 'create_event' %}" method='POST'>
    {% csrf_token %}
    <table>
        <tr>
            <td>Title: </td>
            <td><input name='title' type='text' required /></td>
        </tr>
        <tr>
            <td>Date: </td>
            <td><input name='date' type='date' required /></td>
        </tr>
        <tr>
            <td>Time: </td>
            <td><input name='time' type='time' required /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type='submit'>add event</button></td>
        </tr>
    </table>
</form>


{% endblock %}