{% extends 'base.html' %} {% block content %}
<h1>Dashboard</h1>
<p>name: {{ user.username }}</p>
<a href="javascript:{document.getElementById('logout').submit()}">logout</a>
<form action="{% url 'logout'%}" method='POST' id='logout'>
    {% csrf_token %}
</form>

<h2>Events</h2>
{% if events %}
<ul>
    {% for event in events %}
    <li>
        <a href="{% url 'event' event.id %}">{{ event.title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>you have no events</p>
{% endif %}


<h2>Create</h2>



{% endblock %}