{% extends 'base.html' %} {% block content %}

<h1>{{ event.title }}</h1>
<p>{{ event.date }}</p>

<h2>Types of Meat</h2>
{% if meats %}
<ul>
    {% for meat in meats %}
    <li>{{ meat.type }}</li>
    {% endfor %}
</ul>
{% else %}
<p>you have no types of meat registered</p>
{% endif %}

<h2>Register Meat</h2>
<form action="{% url 'meat' event.id %}" method='POST'>
    {% csrf_token %}
    <div>
        <label>Type</label>
        <input name='type' type='text' required />
    </div>
    <button type='submit'>add</button>
</form>



{% endblock %}