{% extends 'base.html' %} {% block content %}

<h1>Event</h1>
<ul>
    <li>title: {{ event.title }}</li>
    <li>date and time: {{ event.date }}</li>
    <li>visitors: {{ visitor_count }}</li>
    <li>extra guests: {{ guest_count }}</li>
    <li>total: {{ total_count }}</li>
</ul>

<h2>Visitor's Link</h2>
{% if meats %}
<a href="{% url 'visitor' event.id %}" target='_blank'>{{ visitor_link }}</a>
{% else %}
<p style=' color: red '>register a meat to get the visitor's link</p>
{% endif %}

<h2>Visitors</h2>
{% if visitors %}
<ul>
    {% for visitor in visitors %}
    <li>{{ visitor.name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>you have no visitors registered</p>
{% endif %}

<h2>Meat</h2>
{% if meats %}
<ul>
    {% for meat in meats %}
    <li>{{ meat.type }}: {{ meat.count }}</li>
    {% endfor %}
</ul>
{% else %}
<p>you have no types of meat registered</p>
{% endif %}

<h2>Add types of meat</h2>
<form action="{% url 'create_meat' event.id %}" method='POST'>
    {% csrf_token %}
    <div>
        <label>Type</label>
        <input name='type' type='text' required />
    </div>
    <button type='submit'>add</button>
</form>

{% endblock %}