{% extends 'base.html' %} {% block content %}
<h1>Home</h1>
<p style='max-width: 400px'>Login to view or create events, or register a new account.</p>

{% if user.username %}
<p>{{ user.username }} is logged in: <a href="{% url 'dashboard' %}">go to dashboard</a></p>
<form action="{% url 'logout' %}" method='POST' id='logout'>
    {% csrf_token %}
    <button type='submit'>logout</button>
</form>
{% endif %}

<h2>Login</h2>
<form action="{% url 'login' %}" method='POST'>
    {% csrf_token %}
    <table>
        <tr>
            <td>Username: </td>
            <td><input name='username' type='text' required /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input name='password' type='password' required /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type='submit'>login</button></td>
        </tr>
    </table>
</form>


<h2>Register</h2>
<form action="{% url 'register' %}" method='POST'>
    {% csrf_token %}
    <table>
        <tr>
            <td>Username: </td>
            <td><input name='username' type='text' required /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input name='password' type='password' required /></td>
        </tr>
        <tr>
            <td>Verification: </td>
            <td><input name='password_verification' type='password' required /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type='submit'>register</button></td>
        </tr>
    </table>
</form>

{% endblock %}