{% extends 'base.html' %} {% block content %}
<h1>Visitor</h1>
<p style='max-width: 400px'>Sign up for this event with your name and the amount of guests you're bringing (excluding you).</p>
<form action="{% url 'create_visitor' event.id %}" method='POST'>
    {% csrf_token %}
    <h2>Details</h2>
    <p style='max-width: 400px'>Note: do not include yourself in guests.</p>
    <table>
        <tr>
            <td>Name: </td>
            <td><input name='name' type='text' required /></td>
        </tr>
        <tr>
            <td>Guests: </td>
            <td><input name='guests' type='number' required /></td>
        </tr>
    </table>
    <h2>Meats</h2>
    <p style='max-width: 400px'>Add up all the pieces of a specific type of meat you and your guests want. So if you want 2 pieces of chicken and your friend 1, fill in 3 for chicken, etc.</p>
    {% if meats %}
    <table>
        {% for meat in meats %}
        <tr>
            <td>{{ meat.type }}: </td>
            <td><input name='meat_{{ meat.id }}' type='number' required /></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>this event has no meats registered</p>
    {% endif %}

    <h2>Submit</h2>
    <button type='submit'>join event</button>
</form>

{% endblock %}